@page "/"
@page "/defaultsite"

@using Microsoft.Extensions.Localization
@using Softxpertise.Website.Resources

@inject IStringLocalizer<TextualLanguage> Localizer

<PageTitle>@Localizer["HomePage"]</PageTitle>

<!-- Introduction Section -->
<section class="introduction">
    <div class="container">
        <h1 class="text-uppercase">@Localizer["HomeTitle"]</h1>
        <p>@Localizer["HomeTitleText"]</p>
        <div class="button-container d-flex justify-content-center align-items-center">
            <a href="contact" class="btn btn-primary mt-4">@Localizer["HomeContactButton"]</a>
        </div>
    </div>
</section>

<!-- Services Section -->
<section class="services py-5">
    <h2 class="mb-4 text-uppercase text-center">@Localizer["HomeTitleService"]</h2>
    <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="true" data-bs-interval="5000">
        <div class="carousel-inner row">
            <div class="carousel-item active">
                <div class="mb-4 d-block w-100">
                    <div class="card service-card shadow-sm text-center">
                        <div class="card-body">
                            <i class="bi bi-globe display-4 text-primary mb-3"></i>
                            <h5 class="card-title">@Localizer["CardTitle1"]</h5>
                            <p class="card-text">@Localizer["HomeCardText1"].</p>
                            <div class="button-container d-flex justify-content-center align-items-center">
                                <a href="services" class="btn btn-primary mt-4">@Localizer["HomeCardButton"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mb-4 d-block w-100">
                    <div class="card service-card shadow-sm text-center">
                        <div class="card-body">
                            <i class="bi bi-laptop display-4 text-primary mb-3"></i>
                            <h5 class="card-title">@Localizer["CardTitle2"]</h5>
                            <p class="card-text">@Localizer["HomeCardText2"]</p>
                            <div class="button-container d-flex justify-content-center align-items-center">
                                <a href="services" class="btn btn-primary mt-4">@Localizer["HomeCardButton"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mb-4 d-block w-100">
                    <div class="card service-card shadow-sm text-center">
                        <div class="card-body">
                            <i class="bi bi-search display-4 text-primary mb-3"></i>
                            <h5 class="card-title">@Localizer["CardTitle3"]</h5>
                            <p class="card-text">@Localizer["HomeCardText3"]</p>
                            <div class="button-container d-flex justify-content-center align-items-center">
                                <a href="services" class="btn btn-primary mt-4">@Localizer["HomeCardButton"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="mb-4 d-block w-100">
                    <div class="card service-card shadow-sm text-center">
                        <div class="card-body">
                            <i class="bi bi-lightbulb display-4 text-primary mb-3"></i>
                            <h5 class="card-title">@Localizer["CardTitle4"]</h5>
                            <p class="card-text">@Localizer["HomeCardText4"]</p>
                            <div class="button-container d-flex justify-content-center align-items-center">
                                <a href="services" class="btn btn-primary mt-4">@Localizer["HomeCardButton"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Why choose us Section -->
<section class="why-choose-us py-5">
    <div class="container text-center">
        <h2 class="mb-4 text-uppercase">@Localizer["HomeWhyTitle"]</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card feature-card">
                    <div class="card-body">
                        <i class="bi bi-people-fill display-4 text-primary mb-3"></i>
                        <h5 class="card-title">@Localizer["HomeWhyCardTitle1"]</h5>
                        <p>@Localizer["HomeWhyCardText1"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card feature-card">
                    <div class="card-body">
                        <i class="bi bi-lightbulb display-4 text-primary mb-3"></i>
                        <h5 class="card-title">@Localizer["HomeWhyCardTitle2"]</h5>
                        <p>@Localizer["HomeWhyCardText2"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card feature-card">
                    <div class="card-body">
                        <i class="bi bi-clock-fill display-4 text-primary mb-3"></i>
                        <h5 class="card-title">@Localizer["HomeWhyCardTitle3"]</h5>
                        <p>@Localizer["HomeWhyCardText3"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card feature-card">
                    <div class="card-body">
                        <i class="bi bi-emoji-smile-fill display-4 text-primary mb-3"></i>
                        <h5 class="card-title">@Localizer["HomeWhyCardTitle4"]</h5>
                        <p>@Localizer["HomeWhyCardText4"]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container d-flex justify-content-center align-items-center">
            <a href="contact" class="btn btn-primary mt-4">@Localizer["HomeWhyButton"]</a>
        </div>
    </div>
</section>