@page "/services"

@using Microsoft.Extensions.Localization
@using Softxpertise.Website.Resources

@inject IStringLocalizer<TextualLanguage> Localizer

<PageTitle>@Localizer["ServicePage"]</PageTitle>

<section class="services py-5">
    <div class="container">
        <h1 class="text-center text-uppercase">@Localizer["ServiceTitle"]</h1>
        <p class="intro text-center mb-5">@Localizer["ServiceTitleText"]</p>
        <div class="row mt-4">
            <!-- Service 1 -->
            <div class="col-md-4">
                <div class="card shadow-sm d-flex flex-column">
                    <div class="card-body text-center d-flex flex-column justify-content-evenly">
                        <i class="bi bi-globe display-4 text-primary mb-3"></i>
                        <h5 class="card-title mt-2">@Localizer["CardTitle1"]</h5>
                        <h6 class="card-subtitle text-muted mt-3">@Localizer["ServiceCardSubtitle1"]</h6>
                        <p class="card-text">@((MarkupString)Localizer["ServiceCardText1"].Value)</p>
                        <div class="button-container d-flex justify-content-center align-items-center">
                            <a href="contact" class="btn btn-primary mt-auto">@Localizer["ServiceCardButton"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service 2 -->
            <div class="col-md-4">
                <div class="card shadow-sm d-flex flex-column">
                    <div class="card-body text-center d-flex flex-column justify-content-evenly">
                        <i class="bi bi-laptop display-4 text-primary mb-3"></i>
                        <h5 class="card-title mt-2">@Localizer["CardTitle2"]</h5>
                        <h6 class="card-subtitle text-muted mt-3">@Localizer["ServiceCardSubtitle2"]</h6>
                        <p class="card-text">@((MarkupString)Localizer["ServiceCardText2"].Value)</p>
                        <div class="button-container d-flex justify-content-center align-items-center">
                            <a href="contact" class="btn btn-primary mt-auto">@Localizer["ServiceCardButton"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service 3 -->
            <div class="col-md-4">
                <div class="card shadow-sm d-flex flex-column">
                    <div class="card-body text-center d-flex flex-column justify-content-evenly">
                        <i class="bi bi-search display-4 text-primary mb-3"></i>
                        <h5 class="card-title mt-2">@Localizer["CardTitle3"]</h5>
                        <h6 class="card-subtitle text-muted mt-3">@Localizer["ServiceCardSubtitle3"]</h6>
                        <p class="card-text">@((MarkupString)Localizer["ServiceCardText3"].Value)</p>
                        <div class="button-container d-flex justify-content-center align-items-center">
                            <a href="contact" class="btn btn-primary mt-auto">@Localizer["ServiceCardButton"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service 4 -->
            <div class="col-md-4">
                <div class="card shadow-sm d-flex flex-column">
                    <div class="card-body text-center d-flex flex-column justify-content-evenly">
                        <!-- Icon Section -->
                        <i class="bi bi-lightbulb display-4 text-primary mb-3"></i>
                        <!-- Card Titles -->
                        <h5 class="card-title mt-2">@Localizer["CardTitle4"]</h5>
                        <h6 class="card-subtitle text-muted mt-3">@Localizer["ServiceCardSubtitle4"]</h6>
                        <!-- Card Text -->
                        <p class="card-text">@((MarkupString)Localizer["ServiceCardText4"].Value)</p>
                        <!-- Button Section -->
                        <div class="button-container d-flex justify-content-center align-items-center">
                            <a href="contact" class="btn btn-primary mt-auto">@Localizer["ServiceCardUpdateButton"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>